*,*:before,*:after{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: 'Poppins'sans-serif;
	font-size: 15px;
}

h1,h2,h3,h4,h5,h6{
margin: 0;
}
p{
	margin: 0 0 5px;
}

.container{
	width: 1200px;
	margin: 0 auto;
}

.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	min-width: 200px;
	padding: 0 15px;
	height: 50px;
	background-color: #472A3F;
	transition: background-color .2s ease;
	cursor: pointer;
	outline: 0;
	border: 0;
}
.btn:hover{
background-color: #DAA520;
}




.header{
   width: 100%;
   position: absolute;
  top: 0;
  left: 0;
}
.header_wrapper{
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__block{
width: 20%;
}



.nav{
display: flex;
}
.nav_link{
	margin-right: 35px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	position: relative;
}

.nav_link:after{
width: 100%;
height: 2px;
background-color: #fff;
position: absolute;
top: 100%;
left: 0;
content: '';
opacity:0;
transition: opacity .2s ease;

}
.nav_link:hover:after{
	opacity: 1;
}

.nav_link.active:after{
opacity: 1;
}



.header__lng{
display: flex;
justify-content: flex-end;
}


.header__lng-link{
	margin-right: 8px;
	font-weight: 600;
	color: #878787;
	text-transform: uppercase;
	text-decoration: none;
}

.header__lng-link:last-child{
	margin-right: 0;
}

.header__lng-link:hover{
	color: white;
}

.header__lng-link .active{
color: #fff;
}




.intro{
	 background-size:cover ;
	 background-repeat: no-repeat;
}


.intro__content{
	height: 700px;
	display: flex;
	align-items: center;
}

.intro__title{
	max-width: 790px;
	margin-bottom: 50px;
	font-size: 48px;
	font-weight: 700;
	color: #472A3F;
	line-height: 1.5;
	text-transform: uppercase;
}

.sectio{
	margin-bottom: 100px;
}

.sectio .process{
	padding-top:50px;
}

.info{
  display: flex;
  transform: translateY(-50%);
  

}


.info__item{
background-color: #fff;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
padding: 40px 40px 30px;
}

.info__img{
margin-bottom: 20px;
}

.info__img img{
height: 30px;
}


.info__title{
	margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 0.15em;

}


.info__text{
font-size: 18px;
color: #878787;
}



.block__title{
	font-size: 30px;
	margin-bottom: 15px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}


.block__title.text-white{
	color: #fff;
}

.block__link{
	margin-bottom: 60px;
	display: inline-block;
	letter-spacing: 0.15em;
	color: #000;
	text-transform: uppercase;
} 

.block__link:hover{
	text-decoration: none;
}
.wrapper{
	display: flex;
	margin: 0 -10px;

}

.block{
	width: 33.33%;
	padding: 0 10px;
}


.text-upper{
	text-transform: uppercase;
}


.services__item{
  text-decoration: none;
}

 .services__item:hover .services__content-item{
 	opacity: 1;
 }

.services__item:hover .services__content:after{
	opacity: .7;
}

.services__content{
height: 500px;
margin-bottom: 20px;
background-repeat: no-repeat;
 background-size:cover ;
 position: relative;
}

.services__content:after{
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	transition: opacity .2 ease;
}

.services__content-item{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 2;
	transition: opacity .2 ease;

}

.services__img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

	background-color: #E0B0FF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.services__title{
font-size: 20px;
font-weight: 600;
letter-spacing: 0.15em;
color: #000;
text-transform: uppercase;
}

.services__text{
max-width: 270px;
font-size: 18px;
font-weight: 600;
color: white;
letter-spacing: 0.15em;
position: absolute;
bottom: 20px;
left: 30px;
text-transform: uppercase;
}


.about{
padding: 115px 0;
background-color: #E28090;

}

.about__wrapper{
display: flex;
align-items: center;
justify-content: space-between;

}

.about__block{
max-width: 505px;
}



.about__text{
    font-weight: 600;
	color: #000;
	letter-spacing: 0.15em;
	margin:35px 0 40px;
}

.about__link{
	color: #000;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.15em;
	text-transform: uppercase;

}

.about__link:hover{
	text-decoration: none;
}


.about__img{
	height: 340px;
}



.process__title{margin-bottom: 50px;
	font-size: 148px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}

.process__subtitle{
	margin-bottom: 90px;
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	text-align: center;
}


.process__item{
	padding: 30px 30px 15px;
	height: 100%;
	min-height: 150px;
	background: #FFFFFF;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}


.contacts{
padding: 100px 0;
background-color: #E28090;
}


.contacts .block__title{
	margin-bottom: 40px;
}

.contacts__form{
max-width: 440px;
}

.form__row{
display: flex;
margin: 0 -20px;
}

.form__group{
	flex: 1;
	padding:0 20px ;
	position: relative;
}

.input{
	width: 100%;
	padding: 10px 0;
	color: #000;
	outline: 0;
	border: 0;
	border-bottom: 1px solid #000;
	background-color: transparent;
	font-size: 15px;
	font-family: inherit;
}

.input:focus + .label{
	transform: translateY(-15px);
	font-size: 12px;

}

.input:not(:placeholder-shown) + .label{
	transform: translateY(-15px);
	font-size: 12px;
}

.label{
	letter-spacing: 0.15em;
	color: #000;
	position: absolute;
	top: 15px;
	left: 20px;
	pointer-events: none;
	transition: all .2s ease;
}


.textarea{
	resize: vertical;
	min-height: 130px;
    width: 100%;
	padding: 10px 0;
	color: #000;
	outline: 0;
	border: 0;
	border-bottom: 1px solid #000;
	background-color: transparent;
	font-size: 15px;
	font-family: inherit

}

.textarea:focus + .label{
	transform: translateY(-15px);
	font-size: 12px;

}

.textarea:not(:placeholder-shown) + .label{
	transform: translateY(-15px);
	font-size: 12px;
}



.footer{
display: flex;
}

.footer__wrapper{
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.copyright{
	letter-spacing: 0.15em;
}

.footer__soc{
	display: flex;
}

.footer__soc-link{
	margin-right: 20px;
	text-decoration: none;
}

.footer__soc-link:last-child{
	margin-right: 0;
}


.footer__soc-link img{
	height: 25px;
}


.video{
display: center;
	display: flex;
  justify-content: center;
  align-items: center;
}


.aboutt__text{
	 font-weight: 600;
	color: #000;
	letter-spacing: 0.1em;
	margin:35px 0 40px;
}
